<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>

        form{
           margin: 50px;

        }

    </style>
    <script>
        //password validation code
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('password').addEventListener('input', function(event) {
            var password = event.target.value;
            var isValid = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/ .test(password); // Check if password meets criteria
            if (!isValid) {
                event.target.setCustomValidity('Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.');
            } else {
                event.target.setCustomValidity('');
            }
        });
    });
    //end of password Validation code

    //start of username validation code
    document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('username').addEventListener('input', function(event) {
            var username = event.target.value;
            var isValid = /^[0-9]+$/.test(username); // Check if username consists of numbers only
            if (isValid) {
                event.target.setCustomValidity('Username cannot contain numbers only.');
            } else {
                event.target.setCustomValidity('');
            }
        });
    });
    // end of username validation code

     //start of first validation code
   document.addEventListener("DOMContentLoaded", function() {
   document.getElementById('first_name').addEventListener('input', function(event) {
        var firstName = event.target.value;
        var isValid = /^[a-zA-Z]{3,}$/.test(firstName); // Check if first name contains only letters and is at least 2 characters long
        if (!isValid) {
            event.target.setCustomValidity('First name must contain at least 3 letters and cannot contain numbers or special characters.');
        } else {
            event.target.setCustomValidity('');
        }
    });
    //End of First Name Validation code


        //Start of Last name Validation code
    document.getElementById('last_name').addEventListener('input', function(event) {
        var lastName = event.target.value;
        var isValid = /^[a-zA-Z]{3,}$/.test(lastName); // Check if last name contains only letters and is at least 2 characters long
        if (!isValid) {
            event.target.setCustomValidity('Last name must contain at least 3 letters and cannot contain numbers or special characters.');
        } else {
            event.target.setCustomValidity('');
        }
    });
        //end of last name validation form
    });


    </script>
  </head>
  <body>
    {% include "exam/navbar.html" %}



<br><br><br>
<div class="container">
  <h3 style="text-align: center;">Teacher Signup Form</h3>
<form id="myForm" method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    {% for message in messages %}
       <p style="text-align: center;" class="text text-danger">{{ message }}</p>
    {% endfor %}

    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="first_name">First Name</label>
          {% render_field userForm.first_name|attr:'required:true' name="first_name" id="first_name" type="text" class="form-control"  placeholder="First Name" %}
        </div>
        <div class="form-group col-md-6">
          <label for="last_name">Last Name</label>
          {% render_field userForm.last_name|attr:'required:true' type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="mobile">Contact</label>
          {% render_field teacherForm.mobile|attr:'required:true' class="form-control" type="tel" pattern="(\+254)?\d{9,11}" placeholder=" example 0796695184 or +254796695184" %}
        </div>
        <div class="form-group col-md-6">
          <label for="address"> Email Address</label>
          {% render_field teacherForm.address|attr:'required:true' type="email" class="form-control" placeholder="Address" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="username">Username</label>
          {% render_field userForm.username|attr:'required:true' type="text" name="username" id="username"  class="form-control" placeholder=" enter username here" %}
        </div>

        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label><div>
          {% render_field userForm.password|attr:'required:true' type="password" id="password" name="password" class="form-control" placeholder="password" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="profile_pic">Profile Picture</label>
          {% render_field teacherForm.profile_pic|attr:'required:true' type="file" class="form-control" placeholder="" %}
        </div>

      </div>

      </div>
    <button type="submit" class="btn btn-success" style="border-radius:0px;">Sign Up</button>
  </form>
</div>


<br><br>
{% include "exam/footer.html" %}
  </body>
</html>

